<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946889046257-8hic7feqrah80lho3blj126h09q3aeql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946889046257-8hic7feqrah80lho3blj126h09q3aeql</string>
	<key>API_KEY</key>
	<string>AIzaSyAuDOMaYlBYOIMxc-z4XgYQ1cSNgLWGOkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>946889046257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirstApp.FireBase-Starter-App</string>
	<key>PROJECT_ID</key>
	<string>ios-project-89402</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-89402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946889046257:ios:99b04c648ed856787e9150</string>
</dict>
</plist>